aiohttp
async-timeout==3.0.1
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1640799537051/work
beautifulsoup4 @ file:///tmp/build/80754af9/beautifulsoup4_1631874778482/work
Brotli @ file:///D:/bld/brotli-split_1648883782420/work
brotlipy @ file:///D:/bld/brotlipy_1648854347500/work
CacheControl @ file:///home/conda/feedstock_root/build_artifacts/cachecontrol_1636141468892/work
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1640686991047/work
cachy==0.3.0
certifi==2021.10.8
cffi @ file:///D:/bld/cffi_1636046270630/work
chardet @ file:///D:/bld/chardet_1649184403858/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1644853463426/work
cleo @ file:///home/conda/feedstock_root/build_artifacts/cleo_1639678626660/work
click @ file:///D:/bld/click_1648793667490/work
clikit @ file:///home/conda/feedstock_root/build_artifacts/clikit_1591735638473/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1631273254894/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
crashtest @ file:///home/conda/feedstock_root/build_artifacts/crashtest_1643220351006/work
cryptography @ file:///C:/ci/cryptography_1643209086516/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
cytoolz==0.11.2
dash @ file:///home/conda/feedstock_root/build_artifacts/dash_1648636472691/work
dash-core-components @ file:///home/conda/feedstock_root/build_artifacts/dash-core-components_1645162191927/work
dash-html-components @ file:///home/conda/feedstock_root/build_artifacts/dash-html-components_1645162180756/work
dash-renderer @ file:///home/conda/feedstock_root/build_artifacts/dash-renderer_1617984936069/work
dash-table @ file:///home/conda/feedstock_root/build_artifacts/dash-table_1645162199872/work
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1651516556145/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
discord.py @ file:///home/conda/feedstock_root/build_artifacts/discord.py_1623518917557/work
distlib @ file:///home/conda/feedstock_root/build_artifacts/distlib_1638990147493/work
et-xmlfile==1.0.1
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1645136850180/work
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1648543735039/work
Flask-Compress @ file:///home/conda/feedstock_root/build_artifacts/flask-compress_1646141388556/work
fonttools @ file:///D:/bld/fonttools_1651018175663/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1648820545323/work
future @ file:///D:/bld/future_1649010314844/work
genson @ file:///home/conda/feedstock_root/build_artifacts/genson_1601490042128/work
google-api-core @ file:///home/conda/feedstock_root/build_artifacts/google-api-core-split_1644877687275/work
google-auth @ file:///home/conda/feedstock_root/build_artifacts/google-auth_1649985097234/work
googleapis-common-protos @ file:///D:/bld/googleapis-common-protos-feedstock_1647557648490/work
greenlet @ file:///D:/bld/greenlet_1648882539921/work
html5lib @ file:///home/conda/feedstock_root/build_artifacts/html5lib_1592930327044/work
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
imagecodecs @ file:///D:/bld/imagecodecs_1649816719746/work
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1651672046743/work
importlib-metadata @ file:///D:/bld/importlib-metadata_1648728561044/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1648277295813/work
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1648147185463/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1648299710939/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1633637554808/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-meta_1642000296051/work
keyboard @ file:///D:/bld/keyboard_1636366449327/work
keyring @ file:///D:/bld/keyring_1643122257328/work
kiwisolver @ file:///D:/bld/kiwisolver_1648854574371/work
locket @ file:///home/conda/feedstock_root/build_artifacts/locket_1650660393415/work
lockfile==0.12.2
MarkupSafe @ file:///D:/bld/markupsafe_1648737731599/work
matplotlib @ file:///D:/bld/matplotlib-suite_1651609712471/work
msgpack @ file:///D:/bld/msgpack-python_1648746238432/work
multidict @ file:///D:/bld/multidict_1648882563599/work
munkres==1.1.4
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1649567584534/work
nltk @ file:///home/conda/feedstock_root/build_artifacts/nltk_1640748215808/work
numexpr @ file:///D:/bld/numexpr_1649636889757/work
numpy @ file:///D:/bld/numpy_1646717454285/work
opencv-python==4.5.5
openpyxl @ file:///home/conda/feedstock_root/build_artifacts/openpyxl_1632332968451/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1612459636436/work
pandas @ file:///D:/bld/pandas_1648901015103/work
partd @ file:///home/conda/feedstock_root/build_artifacts/partd_1617910651905/work
pastel @ file:///home/conda/feedstock_root/build_artifacts/pastel_1640899049124/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1602535608087/work
Pillow @ file:///D:/bld/pillow_1648857281192/work
pipenv @ file:///home/conda/feedstock_root/build_artifacts/pipenv_1641674508633/work
pkginfo @ file:///home/conda/feedstock_root/build_artifacts/pkginfo_1638813452194/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1645298319244/work
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1649183764952/work
poetry @ file:///D:/bld/poetry_1644547311515/work
poetry-core @ file:///D:/bld/poetry-core_1648737301200/work
protobuf==3.20.0rc2
psycopg2 @ file:///D:/bld/psycopg2-split_1640944746575/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pyasn1==0.4.8
pyasn1-modules==0.2.7
PyAutoGUI @ file:///D:/bld/pyautogui_1636625397280/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pylev @ file:///home/conda/feedstock_root/build_artifacts/pylev_1641226376343/work
PyMsgBox @ file:///home/conda/feedstock_root/build_artifacts/pymsgbox_1602398310849/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1643496850550/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1649603503565/work
PyPDF3 @ file:///home/conda/feedstock_root/build_artifacts/pypdf3_1643992279011/work
PyQt5==5.12.3
PyQt5_sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyrsistent @ file:///D:/bld/pyrsistent_1649013512562/work
PyScreeze @ file:///home/conda/feedstock_root/build_artifacts/pyscreeze_1618749600070/work
PySocks @ file:///D:/bld/pysocks_1648857426124/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/python-dotenv_1648162816482/work
PyTweening==1.0.3
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1647961439546/work
pyu2f @ file:///home/conda/feedstock_root/build_artifacts/pyu2f_1604248910016/work
PyWavelets @ file:///D:/bld/pywavelets_1649616540540/work
pywin32==303
pywin32-ctypes @ file:///D:/bld/pywin32-ctypes_1648607976563/work
PyYAML @ file:///D:/bld/pyyaml_1648757288117/work
regex @ file:///D:/bld/regex_1650840129060/work
requests @ file:///opt/conda/conda-bld/requests_1641824580448/work
requests-toolbelt==0.9.1
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1637781155505/work
scikit-image @ file:///D:/bld/scikit-image_1645197082109/work
scipy @ file:///C:/bld/scipy_1644357599835/work
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1612179560728/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1638550740809/work
SQLAlchemy @ file:///D:/bld/sqlalchemy_1648845228250/work
tabpy-client @ file:///C:/ci_310/tabpy-client_1642112919434/work
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1626090218611/work
tifffile @ file:///home/conda/feedstock_root/build_artifacts/tifffile_1651666912743/work
tomlkit @ file:///home/conda/feedstock_root/build_artifacts/tomlkit_1648388640041/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1636177962100/work
tornado @ file:///D:/bld/tornado_1648827438424/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1648096753605/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1650370875435/work
unicodedata2 @ file:///D:/bld/unicodedata2_1649112137711/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1647489083693/work
virtualenv @ file:///D:/bld/virtualenv_1649688193779/work
virtualenv-clone==0.5.4
webencodings==0.5.1
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1648847766614/work
win-inet-pton @ file:///D:/bld/win_inet_pton_1648771897787/work
XlsxWriter @ file:///home/conda/feedstock_root/build_artifacts/xlsxwriter_1645975313810/work
yarl @ file:///D:/bld/yarl_1648966692031/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1649012893348/work
google-api-python-client
google-auth-httplib2
google-auth-oauthlib